name: Daily Repo Update

on:
  schedule:
    - cron: "17 3 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Daily commit 23f2002735@ds.study.iitm.ac.in
        run: |
          echo "Last run: $(date)" > daily-log.txt
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add daily-log.txt
          git commit -m "Daily automated update"
          git push
