name: Playwright Table Sum

on: [push]

jobs:
  run-playwright:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Playwright
        run: |
          pip install playwright
          playwright install

      - name: Run scraper 23f2002735@ds.study.iitm.ac.in
        run: python sum_tables.py
